<!DOCTYPE html>
<html>
<head>
    <title>Manage Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
        <header class="flytau-header">
  <div class="flytau-header__inner">
    <a class="flytau-brand" href="{{ url_for('landing_page') }}">
      <img class="flytau-brand__logo" src="{{ url_for('static', filename='logo.png') }}" alt="FLYTAU logo">
      <div>
        <div class="flytau-brand__name">FLYTAU</div>
        <div class="flytau-brand__tagline">Find. Book. Fly.</div>
      </div>
    </a>
  </div>
</header>

<h1>Manage Your Booking</h1>

<form method="POST">
  {% if role == 'client' %}
    <button type="submit">View My Bookings</button>
  {% else %}
    Booking number: <input name="booking_number" required>
    Passport: <input name="passport_number" required>
    <button type="submit">View Booking</button>
  {% endif %}
</form>

<form method="GET" action="{{ url_for('landing_page') }}">
  <button type="submit">Back to Home Page</button>  
</form>

</body>
</html>
